---
- name: Upload certificates
  ansible.netcommon.net_put:
    src: "{{ item.src }}"
    dest: "{{ item.dest | default(omit) }}"
    protocol: sftp
  loop: "{{ mikrotik_certs }}"
  no_log: true
  tags:
    - mikrotik_certs

- name: Import certificates
  community.routeros.command:
    commands:
      - "/certificate import file-name={{ item.dest }} passphrase=\"{{ item.passphrase | default('') }}\""
  no_log: true
  loop: "{{ mikrotik_certs }}"
  tags:
    - mikrotik_certs

- name: Configure ip services
  community.routeros.command:
    commands:
      - "/ip service set {{ item.name }} {{ item.values }}"
  loop: "{{ mikrotik_ip_services }}"
  tags:
    - mikrotik_ip_services

- name: Configure ip pools
  community.routeros.command:
    commands:
      - ":if ([/ip pool print count-only where {{ item.key_name }}={{ item.key_value }}]=0) do={
          /ip pool add {{ item.key_name }}={{ item.key_value }} {{ item.other_values }}
         } else={
          /ip pool set [find where {{ item.key_name }}={{ item.key_value }}] {{ item.other_values }}
         }"
  loop: "{{ mikrotik_ip_pools }}"
  tags:
    - mikrotik_ip_pools

- name: Set DHCP static leases
  community.routeros.command:
    commands:
      - ":if ([/ip dhcp-server lease print count-only where {{ item.key_name }}={{ item.key_value }}]=0) do={
          /ip dhcp-server lease add {{ item.key_name }}={{ item.key_value }} {{ item.other_values }}
         } else={
          /ip dhcp-server lease set [find where {{ item.key_name }}={{ item.key_value }}] {{ item.other_values }}
         }"
  loop: "{{ mikrotik_dhcp_server_leases }}"
  tags:
    - mikrotik_dhcp_server_leases
